html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
}
/*.logo {
  display: flex;*/
  /*flex-grow: 1;*/
/*	align-items: center;
}
*/
/*.logo img {
  height: 50px;
  padding-left: 10px;
}*/

nav {
  text-align: right;
  flex-grow: 1;
}

nav p {
  display: inline-block;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

.main {
  height: 40rem;
  width: 48rem;
  /*height: 33rem;
  width: 48rem;*/
  /*width: 80%;*/
  /*display: flex;*/
  margin: 0 auto;
/*  align-content: center;*/
}

.main img {
  position: relative;
  top: 7rem;

}

#about h1 {
  position: relative;
  top: 9rem;
  font-size: 1.5rem;
}

#about p {
   /*font-size: 1.5rem;*/
   position: relative;
   top: 10rem;
}

/*#read {
  height: 48rem;
  width: 25rem;
  margin: 0 auto;
}*/




#readtext h1 {
   font-size: 1.5rem;
   position: relative;
   top: 9rem;
   
}

#readtext img {
  position: relative;
  top: 10rem;
}

#readtext p {
  position: relative;
  top: 12rem;
}

.interests {
  max-width: 100%;
}

.image-content-book {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  height: 500px;
  width: 380px;
  padding: 40px;
  position: relative;
  top: 3rem;
}

.image-content-book p {
  position: relative;
  top: 3rem;
  font-size: .75rem;
}

.images-book {
  /*display: flex;
  flex-direction: column;*/
}

/*.images p {
  font-size: .75rem;
}*/

.image-content-eat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-content-eat p {
  position: relative;
  top: 8rem;
  font-size: .75rem;
}

/*#eat-text h1 {
   font-size: 1.5rem;
   position: relative;
   top: 5rem;
}

#eat-text p {
  position: relative;
  top: 10rem;
}*/

.food {
  height: 380px;
  width: 500px;
  padding: 2rem;
  position: relative;
  top: 7rem;
}

#eat-text h1 {
  position: relative;
  top: 4rem;
  font-size: 1.5rem;
}

#eat-text p {
  position: relative;
  top: 10rem;
}

/*Begin Media Queries*/

@media only screen and (max-width: 480px) {

.food {
  height: 265px;
  width: 400px;
  padding: 0rem;
  position: relative;
  top: 7rem;

}

}

