html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

body {
  padding-top: 140px;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  top: 0;
}
/*.logo {
  display: flex;*/
  /*flex-grow: 1;*/
/*	align-items: center;
}
*/
/*.logo img {
  height: 50px;
  padding-left: 10px;
}*/

nav {
  text-align: right;
  flex-grow: 1;
}

nav p {
  display: inline-block;
  margin-bottom: 0;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 3rem;
}

.container h1 {
  background: #fff;
  color: #000;
  line-height: 2rem;
  margin-left: -3rem;
  margin-right: -3rem;
}

.main {
  margin: 0 auto;
}

.main img {

}

#about {
  margin-top: 4rem;
}

#about h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#about p {

}

#readtext h1 {
   font-size: 1.5rem;
}

#readtext img {

}

#readtext p {

}

.interests {
  max-width: 100%;
}

.image-content-book {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images-book {
  padding: 40px;
}

.book {
  width: 380px;
}

.image-content-book p {
  font-size: .75rem;
}

.image-content-eat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-content-eat p {
  font-size: .75rem;
}

.images-eat {
  padding: 2rem;
}

.food {
  width: 500px;
}

#eat-text h1 {
  font-size: 1.5rem;
}

/*Begin Media Queries*/

@media screen and (max-width: 480px) {
  .container h1 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .container {
    padding: 0 1.5rem;
  }
  .food {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .image-content-eat {
    display: block;
  }
  .images-eat {
    padding: 0;
  }
  .food {
    width: 100%;
  }
}